label {
    margin: 0 5px;
}

.create-page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}

.drawing {
    width: 35%;
}

.canvas {
    border: 1px solid black;
    height: 600px;
    margin: auto;
}

.canvas-options {
    display: flex;
    justify-content: center;
}

.canvas-options button {
    margin: 5px;
}

.color-picker {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.pokemon-form {
    border: 1px solid black;
    padding: 20px;
    width: 35%;
}

.name-row {
    margin-bottom: 16px;
}

.name-row button {
    margin-left: 10px;
}

.desc-row {
    margin-bottom: 16px;
}

.type-row {
    margin-bottom: 16px;
}

.move-row {
    margin-bottom: 16px;
}
