.create-page {
    /*
    - Make it a flex container where items are spaced evenly and aligned to the center
    */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pokemon-form {
    /*
    - Add a 1px black border around the form
    - Add 20px of padding inside the form
    - Make the form only 35% wide
    */
    border: 1px solid black;
    padding: 20px;
    width: 35%;
}

.form-row {
    /*
    - Add a 16px bottom margin
    */
    margin-bottom: 16px;
}

label {
    margin: 5px;
}