.create-page {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.canvas {
    border: 1px solid black;
    width: 60%;
}

.pokemon-form {
    border: 1px solid black;
    width: 30%;
}